{% extends 'adminlayout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    {% block admin %}
    <div class="container-fluid " style="height:100vh; background-color: rgb(169, 245, 226);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="row " style="width: 80%; margin: auto; height: 80px;"><h1 class="text-center mt-2 p-2 text-white" style="font-size:40px; font-weight: bolder; background-color:#221f33;"> Add Student</h1></div>
    <div class="row">
        {% for i in messages %}
        <div class="alert alert-primary">
            {{i}}
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-6 mx-auto mt-3 " >
    <form action="" method="post">
        {% csrf_token %}
        <table class="table m-4 p-3 bg-light shadow" style="font-size: 20px; font-weight: bold; ">
            <tr>
                <td>Enter Name</td>
                <td>
                    <input type="text" name="name" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" name="emailaddress" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Contact No.</td>
                <td>
                    <input type="number" name="contactno" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Select Gender</td>
                <td>
                    <input type="radio" name="gender" value="male" class="form-check-input"> Male
                    <input type="radio" name="gender" value="Female" class="form-check-input"> Female

                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center mx-auto">
                    <button type="submit" class="btn btn-lg btn-success"> Add</button>
                </td>
            </tr>






        </table>

    </form>
 </div>
    </div>
    
    {% endblock %}
</body>
</html>