{%  extends 'base.html' %}
{% load static %}
{% block body %}


    <div class="row " style=" background-color: black;" >
        <div class="row mx-auto" style=" height:250px; background-image: url({% static 'images/org.jpg' %}); background-repeat: no-repeat; background-size:cover ; opacity: 60%;">   
        </div>
        <h2 style="color: white; margin-top: -150px; font-size: 50px; font-weight: bolder; opacity: 100%;" class="text-center"> Our Organization</h2>
        
        
        
        <div class="row mx-auto" style=" height:600px; background-color: white">
            <div class="row ">
                <div class="col-sm-9 mx-5 mt-5">
                    <h2 style="margin-left:200px; font-size: 50px; font-weight: bold; text-decoration: underline;">Certifications</h2>
                    <ul style="margin-left:200px; font-size: 25px; ">
                        <li>DSIR Recognition</li>
                        <li>Licensing Of Ayurvadic Testing Laboratory (2016)
                        </li>
                        <li>NABL Accreditation as per ISO/IEC 17025:2005 of QAQC Laboratory (2018-2020)</li>
                        <li>Quality Management System (ISO 9001: 2008) of QAQC Laboratory (2009)</li>
                        <li>Environmental Management System (ISO 14001: 2015) Certification of Biotech Park, Lucknow
                        </li>
                        <li>Approved Government Training Partner of ‘Uttar Pradesh Skill Development Mission’
                        </li>
                    </ul>

                </div>
            </div>
        <div class="row  text-center">
                <div class="col-sm-9 " style="display: flex; margin-left: 490px;">
                    <div class="col-sm-2"><img src="{% static 'images/cert1.jpg' %}" height="200px" alt=""></div>
                    <div class="col-sm-2"><img src="{% static 'images/cert2.png' %}" height="200px" alt=""></div>
                    <div class="col-sm-2"><img src="{% static 'images/cert3.jpeg' %}" height="200px" alt=""></div>
                    <div class="col-sm-2"><img src="{% static 'images/cert4.jpeg' %}" height="200px" alt=""></div>
                    
                </div>
            </div>
        
        </div>

{% endblock %}