{% extends 'adminlayout.html' %}
{% load static %}
{% block admin %}
<div class="container-fluid " style="min-height:100vh; background-color: rgb(169, 245, 226);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<div class="row" style="width: 80%; margin: auto; height: 80px;"><h1 class="text-center mt-2 p-2 text-white" style="font-size:40px; font-weight: bolder; background-color:#221f33;"> Final Verification</h1></div>
<div class="col-sm-12">

    <table class="table table-bordered border-2 text-center shadow">
        <thead>
            <tr class="text-dark" style="font-size: 18px;">
                <th style="background-color:  #221f33; color: white;">S.NO</th>
                <th style="background-color:  #221f33; color: white;">Name</th>
                <th style="background-color:  #221f33; color: white;">Session</th>
                <th style="background-color:  #221f33; color: white;">Course</th>
                <th style="background-color:  #221f33; color: white;">Duration</th>
                <th style="background-color:  #221f33; color: white;">Fees</th>
                <th style="background-color:  #221f33; color: white;">Receipt</th>
                <th style="background-color:  #221f33; color: white;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{s.name}}</td>
                <td>{{s.session}}</td>
                <td>{{s.course}}</td>
                <td>{{s.course_duration}}</td>
                <td>{{s.fees}}</td>
                <td>
                    <a href="{{s.fees_ss.url}}" download>
                        <img src="{{s.fees_ss.url}}" alt="" width="100" height="150">
                    </a>
                </td>
                <td>
                    <a href="{% url 'assign' id=s.sid %}" class="btn " style="background-color:#221f33;color:white;"> Assign Course</a>
                </td>



            </tr>
            {% endfor %}
        </tbody>
    
    
</table>
</div>
</div>
{% endblock %}