<div class="col-sm-8 text-center mt-5 " >
  <div class="row mx-auto text-center px-5">
  <div class="col-sm-1 mx-auto px-5"></div>
  <div class="col-sm-2 mx-auto px-5"><img src="{% static 'images/award1.jpg' %}" height="200px" alt=""></div>
  <div class="col-sm-1 mx-auto px-5"></div>
  <div class="col-sm-2 mx-auto px-5 "><img src="{% static 'images/award2.jpg' %}" alt="" height="200px"></div>
  <div class="col-sm-1 mx-auto px-5"></div>
  <div class="col-sm-2 mx-auto px-5"><img src="{% static 'images/award3.jpg' %}" alt="" height="200px"></div>
  <div class="col-sm-1 mx-auto px-5"></div>
  <div class="col-sm-2 mx-auto px-5"><img src="{% static 'images/award4.jpg' %}" alt=""  height="200px"></div>
</div>
