{%  extends 'base.html' %}
{% load static %}
{% block body %}

<div class="row mx-auto text-center">
    <div class="col-sm-9 mt-5 mx-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.7827033343633!2d80.9550148748949!3d26.91039056019135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399957b90f3c39ef%3A0xdf9814e6dc29867b!2sJankipuram%20Biotech%20Park!5e0!3m2!1sen!2sin!4v1725885074701!5m2!1sen!2sin" width="80%" height="600" style="border:0; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
    </div>
</div>

{% endblock %}